<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
</head>
<body>
  <h1>Hello <%= data.username %></h1>
  <p>Age: <%= data.place %></p>
  <p>Occupation: <%= data.mobile %></p>
  <p>Doctor: <%= data.doctor %></p>
</body>
</html>